# Ignore node_modules folders across all subfolders
admin/node_modules/
Frontend/node_modules/
server/node_modules/

# Ignore cache files
Frontend/.cache/
admin/.cache/

# Optionally ignore build folders (if applicable)
Frontend/build/
admin/build/
server/build/
